@import './Variables.css';

#new-note-button{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--accentColor);
  border: 1px solid var(--accentColor);
  cursor: pointer;
}
