.todo-item {
  width: 100%;
  padding: 1rem 1rem;
  border: none;
  transition: background-color 150ms ease-in-out;
  opacity: 0;
  cursor: pointer;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.todo-item:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.todo-item p {
  text-align: left;
}

.todo-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(70, 70, 70);
  padding-bottom: 0.3rem;
}

.todo-description {
  height: 3rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgb(100, 100, 100);
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
