.todo-item {
  width: 20rem;
  height: 10rem;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  transition: scale 150ms ease-in-out;
  opacity: 0;
}

.todo-item:hover {
  scale: 1.05;
}

.todo-item p {
  text-align: left;
}

.todo-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(70, 70, 70);
  padding-bottom: 0.3rem;
}

.todo-description {
  margin-top: 1rem;
  color: rgb(100, 100, 100);
}
