.todo-item {
  max-width: 20rem;
  height: 10rem;
  padding: 15px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: scale 150ms ease-in-out;
}

.todo-item:hover {
  scale: 1.05;
}

.todo-item p {
  text-align: left;
}

.todo-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(192, 120, 26);
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(247, 201, 141);
}

.todo-description {
  margin-top: 1rem;
  color: rgb(78, 78, 78);
}
