@import './components/Variables.css';

html {
  font-size: 100%;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0.2pt;
  font-family: "Neue Haas Grotesk Text Pro", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: var(--bgColor);
}
